<div class="maincontainer">

    <div>
        <h1 class="text">
            <img class="logo" src="../../../assets/image/mortarboard.png" alt="logo">

            My <span class="text1">Education</span>
        </h1>
        <p class="line">Education Is Not The Learning Of Facts, But The Training Of The Mind To Think.</p>
    </div>
    <div>
        <div class="textcontainer">
            <div class="innerimg">
                <!-- <img class="collagepicture" src="../../../assets/image/kp.jpg" alt="image"> -->
            </div>
            <div class="linebox">
                <h2 class="line1">Diploma In Mechanical Engineering</h2>
                <p class="line2">Kanyapur Polytechnic</p>
                <p class="line3">2015-2018 | Completed</p>
            </div>
        </div>
        <div class="textcontainer">
            <div class="innerimg innerimg2">
                <!-- <img class="collagepicture" src="../../../assets/image/pvsn.jpg" alt="pvsn"> -->
            </div>
            <div class="linebox">
                <h2 class="line1">HSE Science</h2>
                <p class="line2">Patna Vivekananda Sikshaniketan | WBCHSE</p>
                <p class="line3">2013-2015 | Completed</p>
            </div>
        </div>
        <div class="textcontainer">
            <div class="innerimg innerimg3">
                <!-- <img class="collagepicture" src="../../../assets/image/78358.jpg" alt="school"> -->
            </div>
            <div class="linebox">
                <h2 class="line1">Secondary Examination</h2>
                <p class="line2">BHFCMHS | WBBSE</p>
                <p class="line3">2013 | Completed</p>
            </div>
        </div>
    </div>
</div>
