.maincontainer {
    height: calc(100vh - 86px);
    background-color: #cad9e7;
}

.container {

    width: 80%;
    margin: auto;
    height: 83%;
    border: 0px solid #9100ff;
    border-radius: 22px;
    background-color: white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.text {
    text-align: center;
    font-size: 38px;
    font-family: system-ui;
    font-weight: bold;
    padding: 16px
}

.picture {
    width: 39px;
    position: relative;
    top: 5px;

}

.text1 {
    color: blueviolet;
}

.personimg {
    width: 106%;
    position: relative;
    height: 70vh;
    border-radius: 17px 0px 50px 24px;
}

.manimage {
    width: 70%;
    text-align: center;
}

.input-group {
    margin-bottom: 20px;
    position: relative;
    width: 130%;
}

input,
textarea {
    width: 100%;
    padding: 10px;
    outline: 0;
    border: 1px solid black;
    font-size: 15px;
    border-radius: 6px 6px 6px 6px;
    background-color: aliceblue;

}

label {
   
    position: absolute;
    left: 20px;
    top: 6px;
    padding: 0px;
    color: black;
    cursor: text;
    transition: 0.2s;
    font-family: system-ui;
    font-weight: 600;
}


button {
    padding: 10px 0;
    color: white;
    outline: none;
    border: 1px solid blue;
    width: 50%;
    cursor: pointer;
    background-color: blue;
    border-radius: 10px 10px 10px 10px;
    position: relative;
    bottom: 15px;

}


input:focus~label,
input:valid~label,
textarea:focus~label,
textarea:valid~label{
    top: -12px;
    font-size: 14px;
    background-color: honeydew;
    left: 14px;
}

.errors{
    border: 1px solid red;
}
.text-danger{
    color: red;
    position: relative;
    bottom: 20px
}
