<div class="maincontainer">
    <div class="text">
        <img class="picture" src="/assets/image/headset.png" alt="picture">
        Get In <span class="text1">Touch</span>
    </div>
    <div class="container">
        <div>
            <img class="personimg" src="/assets/image/photo person.webp" alt="person">
        </div>

        <div class="hero">

            <!-- <form [formGroup]="form" action="javascript:void(0)" (submit)="send()"> -->
<form  #register="ngForm" (ngSubmit)="register.form.valid && registerFrm()">
                <div class="input-group">
                    <!-- <input formControlName="from_name" type="text" id="name" required>
                    <label for="name"><i class="fa-solid fa-user"></i>Enter Your Name </label>
                    <div *ngIf="form.get('from_name')?.invalid && form.get('from_name')?.touched" class="error-message">
                        *Name is required.
                    </div> -->
                    
                        
                        <input type="text" id="fname"  class="form-control" [(ngModel)]="form.fname"
                          name="fname" #fname="ngModel" required maxlength="20" [ngClass]="{errors: fname.touched && fname.errors}">
                          <label for="fname"><i class="fa-solid fa-user"></i>Enter Your Name </label>
                      </div>
                      <div *ngIf="fname.touched && fname.errors">
                        <small class=" text-danger" *ngIf="fname.errors ['required']">*First Name is Required </small>
                        <small class=" text-danger" *ngIf="fname.errors ['maxlength']">*Only 20 characters allow </small>
                </div>

                <div class="input-group">
                    <!-- <input formControlName="from_PhoneNumber" type="text" id="number" required>
                    <label for="number"><i class="fa-solid fa-phone"></i>Enter Phone Number </label>
                    <div *ngIf="form.get('from_PhoneNumber')?.invalid && form.get('from_PhoneNumber')?.touched"
                        class="error-message">
                        *Phone Number is required.
                    </div> -->
                    
                        
                        <input type="text" name="number" id="number"  class="form-control" 
                           [(ngModel)]="form.number" #number="ngModel" required [pattern]="patternType" minlength="10"
                          [ngClass]="{errors: number.touched && number.errors}">
                          <label for="number"><i class="fa-solid fa-phone"></i>Enter Phone Number </label>
                      </div>
                      <div  *ngIf="number.touched && number.errors">
                        <small class=" text-danger" *ngIf="number.errors['required']">*Phone Number is Required </small>
                        <small class=" text-danger" *ngIf="number.errors['minlength']"> Enter 10 digit Number</small>
                        <small class=" text-danger" *ngIf="number.errors['maxlength']"> Enter 10 digit Number</small>
                        <small class=" text-danger" *ngIf="number.errors['pattern']">*Enter a valid Number </small>
                
                </div>

                <div class="input-group">
                    <!-- <input formControlName="from_email" type="email" id="email" required>
                    <label for="email"><i class="fa-solid fa-envelope"></i>Enter Your Email </label>
                    <div *ngIf="form.get('from_email')?.invalid && form.get('from_email')?.touched"
                        class="error-message">
                        *Email is required.
                    </div> -->
                    
                        
                        <input type="text" name="email" id="email"  class="form-control"
                          [(ngModel)]="form.email" #email="ngModel" required [pattern]="emailPtype"
                          [ngClass]="{errors: email.touched && email.errors}">
                          <label for="email"><i class="fa-solid fa-envelope"></i>Enter Your Email </label>
                      </div>
                      <div *ngIf="email.touched && email.errors">
                        <small class=" text-danger" *ngIf="email.errors ['required']">*Email is Required </small>
                        <small class=" text-danger" *ngIf="email.errors ['pattern']">*Enter a Valid Email </small>
                      
                </div>

                <div class="input-group">
                    <textarea id="message" rows="8" required ></textarea>
                    <label for="message"> <i class="fa-solid fa-message" ></i>Your Message</label>

                </div>


                <button type="submit" value="Submit" [disabled]="register.form.status==='INVALID'">SUBMIT</button>
            <!-- </form> -->
</form>
        </div>
    </div>
</div>