<div class="maincontainer">
    <div class="text">
        <img class="picture" src="/assets/image/web-coding.png" alt="img">
        Skills & <div class="text1">
            Abilities
        </div>
    </div>
    <div class="iconset">
        <div class="iconset1">
            <figure class="icon">
                <img class="htmlicon" src="/assets/image/html.png" alt="html">
                <figcaption class="captionhtml">Html</figcaption>
            </figure>
            <figure class="icon">
                <img class="htmlicon" src="/assets/image/css-3.png" alt="css">
                <figcaption class="captionhtml">Css</figcaption>
            </figure>
            <figure class="icon">
                <img class="htmlicon " src="/assets/image/js.png" alt="js">
                <figcaption class="captionhtml">JavaScript</figcaption>
            </figure>
            <figure class="icon">
                <img class="htmlicon" src="/assets/image/icons8-firebase-48.png" alt="firebase">
                <figcaption class="captionhtml">Firebase</figcaption>
            </figure>
            <figure class="icon">
                <img class="htmlicon " src="/assets/image/icons8-git-48.png" alt="git">
                <figcaption class="captionhtml">Git</figcaption>
            </figure>
            <figure class="icon">
                <img class="htmlicon" src="/assets/image/angular logo.png" alt="angular">
                <figcaption class="captionhtml">Angular</figcaption>
            </figure>
            <figure class=" icon">
                <img class="htmlicon " src="/assets/image/typscript logo.png" alt="typscript">
                <figcaption class="captionhtml">TypeScript</figcaption>
            </figure>
        </div>
    </div>
</div>